<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <p><label>Email: <input type="text" name="name"></label></p>
  <p><label>Password: <input type="text" name="name"></label></p>
  Log in<input type="submit" id="submit"/>
</form>
